import { ReactNode, Suspense } from 'react'

export const metadata = {

}

export interface LayoutI {
  children: ReactNode
}

export default function LayoutComponent({ children }: LayoutI) {
  return (
    <Suspense>
      {children}
    </Suspense>
  )
}
