'use client'

export interface {{name}}PageI {
  {{url_interface}}
}

export default function {{name}}Page({ {{url_variables}} }: {{name}}PageI) {
  return (
    <div className="container page">
      <p>{{name}} Page</p>
    </div>
  )
}